@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #fff;
}

/* Custom Webkit Scrollbars Global */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0a0a0a;
}
::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(16, 185, 129, 0.2); 
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(16, 185, 129, 0.5); 
}
